<div class="container">
    <form #f="ngForm" (ngSubmit)="update(f.value)">
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input 
                type="text" 
                [(ngModel)]="user.firstName" 
                #firstName="ngModel"  
                required
                id="firstName" 
                name="firstName"
                class="form-control">
            <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
                First Name required
            </div>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input 
                type="text" 
                [(ngModel)]="user.lastName" 
                #lastName="ngModel" 
                required
                id="lastName" 
                name="lastName" 
                class="form-control">
            <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid">
                Last Name required
            </div>
        </div>
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input 
                type="number" 
                [(ngModel)]="user.phone" 
                #phone="ngModel"
                required
                id="phone" 
                name="phone" 
                class="form-control" >
            <div class="alert alert-danger" *ngIf="phone.touched && !phone.valid">
                Phone Number required
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input 
                type="email" 
                [(ngModel)]="user.email" 
                #email="ngModel"
                required  
                id="email" 
                name="email" 
                placeholder="name@example.com"
                class="form-control">
            <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
                Email id required
            </div>
        </div>
        <button class="btn btn-primary" [disabled]="!f.valid">Update <fa-icon [icon]="editIcon"></fa-icon></button>
    </form>
</div> 



